<h2>Create Pet</h2>
<form method="POST" action="/pets">
    <div>
        <label>Name</label>
        <input type="text" name="pet[name]" />
    </div>
    <div>
        <label>Breed</label>
        <input type="text" name="pet[breed]" />
    </div>
   
    <input type="submit"/>
</form>