<h2 class="d-inline"><%= @user.name %></h2> <a class="fa fa-edit" href="/users/<%= @user.id %>/edit"></a>
<div>
    <strong>Phone Number: </strong>
    <%= @user.phone_number %>
</div>
<div>
    <strong>Address: </strong>
    <%= @user.address %>
</div>
